PyQt6
PyQt6-WebEngine
requests
beautifulsoup4
torch
transformers
sentence-transformers
faiss-cpu
flake8
ollama
qdarkstyle
yt-dlp
youtube-transcript-api
pathspec
datasets
PyPDF2
git+https://github.com/openai/whisper.git